{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="">E-shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'shop_app:allProdCat' %}">Home</a>
        </li>

        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Products
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'shop_app:allProdCat' %}">All Products</a></li>
                {% for cat in links %}
                <li><a class="dropdown-item" href="{{cat.get_url}}">{{cat.name}}</a></li>
                {% endfor %}
            </ul>
      <li class="nav-item">
          <a class="nav-link" href="{% if item_count > 0 %} {% url 'cart_app:cart_details' %} {% endif %}">Your Cart <i class="fa-solid fa-cart-shopping">{% if item_count > 0 %}<sup> {{item_count}} </sup>{% endif %}</i></a>
        </li>

    </ul>
    <form class="d-flex" role="search" action="{% url 'search_app:search_result' %}" method="get">
        {% csrf_token %}
        <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass fa-flip"></i></button>
    </form>
</div>

  </div>
</nav>